<template>
    <b-modal id="viewer" class="my-modal-fullscreen" hide-footer v-model="isView" @hide="onClose">
        <div class="modal-body-media">
            <video slot="img" v-show="isVideo" :src="vidUrl(curFile.fullName)"
                style="display: flex; width: 100%; max-height: -webkit-fill-available; object-position: center;"
                controls :poster="curUrl(curFile.fullName)"></video>
            <div class="img" slot="img" v-show="!isVideo"
                :style='"flex: auto; background: url(" + curUrl(curFile.fullName) + ") center center / contain no-repeat;"'></div>
            <!-- <my-video slot="img" v-if="isVideo" controls='true' autoplay='true' kind="video"
                :poster="curUrl(item.fullName)" :src='vidUrl(item.fullName)'></my-video> -->
            <div v-if="files.length < 1"><h1>В данном расположении отсутствуют файлы</h1></div>
        </div>
        <div class="control-prev"><div class="control-btn" @click="btnPrev"></div></div>
        <div class="control-next"><div class="control-btn" @click="btnNext"></div></div>

        <b-container slot="modal-header" fluid>
            <b-row align-v="center">
                <b-col cols="auto" class="mr-auto">
                    <b-input-group prepend="Слайдшоу">
                        <b-btn    v-if="!isSlide" title="Запустить"  @click="btnTimer" class="form-control material-icons">play_arrow</b-btn>
                        <b-btn    v-if=" isSlide" title="Остановить" @click="btnTimer" class="form-control material-icons">pause</b-btn>
                        <b-select title="Задержка смены файла в секундах" v-model="slider.cur" :options="slider.arr" size="mini"></b-select>
                    </b-input-group>
                </b-col>
                <b-col style="font-size: x-large;">
                    <b-badge style="vertical-align: text-bottom;" variant="info">{{this.curFile.name}}</b-badge>
                    <b-badge style="vertical-align: text-bottom;">               {{this.curFile.type}}</b-badge>
                </b-col>
                <b-col cols="auto" class="ml-auto" title="Скопировать ссылку в буфер">
                    <b-btn class="float-right material-icons" @click='curLinkCopy()'>link</b-btn>
                </b-col>
                <b-col cols="auto" class="ml-auto" title="Скачать">
                    <b-btn class="float-right material-icons" @click='curFileLoad()'>get_app</b-btn>
                </b-col>
                <b-col cols="auto" class="ml-auto" title="Закрыть">
                    <b-btn class="float-right material-icons" @click="onClose">close</b-btn>
                </b-col>
            </b-row>
        </b-container>
    </b-modal>
</template>

<script>
import Vuex from "vuex";
import axios from 'axios';
import myvideo from '@dongido/vue-viaudio';

export default {
    name: 'viewer',
    props: [],
    components: {
        'my-video': myvideo,
    },
    data() {
        return {
            isSlide: false,
            slider: {
                cur: 7,
                arr: [3, 5, 7, 10, 15]
            },
            isView: false,
            currentId: 0,
        }
    },
    components: {
    },
    mounted() {
    },
    methods: {
        onClose() {
            this.isView = false
            this.isSlide = false;
            this.$store.commit('setParam2', {type: 'selFile', type2: 'fullName', value: ''});
            this.$store.commit('setParam2', {type: 'selFile', type2: 'name', value: ''});
            this.$store.commit('setParam2', {type: 'selFile', type2: 'size', value: ''});
            this.$store.commit('setParam2', {type: 'selFile', type2: 'icon', value: ''});
        },
        btnTimer() {
            this.isSlide = !this.isSlide;
            if (this.isSlide)
                this.btnNext(true);
        },
        btnPrev() {
            this.currentId--;
            if (this.currentId < 0)
                this.currentId = this.files.length - 1;
            this.onSlideStart(this.currentId);
        },
        btnNext(timer) {
            if (timer === true && this.isSlide === false)
                return;
            this.currentId++;
            if (this.currentId >= this.files.length)
                this.currentId = 0;
            this.onSlideStart(this.currentId);
            let method = this.btnNext;
            if (timer === true && this.isSlide === true)
                setTimeout(function() { method(true) }, this.slider.cur * 1000);
        },
        curLinkCopy() {
            var url = this.isVideo ? this.vidUrl(this.curFile.fullName) : this.curUrl(this.curFile.fullName);
            navigator.clipboard.writeText(url)
            .then(() => { console.log('Ok!'); })
            .catch(err =>
            {
                console.log('Err!', err);
            });
        },
        curFileLoad() {
            var name = this.curFile.name + '.' + this.curFile.type;
            var url = this.isVideo ? this.vidUrl(this.curFile.fullName) : this.curUrl(this.curFile.fullName);
            axios.get(url, { responseType: 'arraybuffer' })
                .then((response) => {
                    this.SaveFileStream(response.data, name);
                })
                .catch((exc) => {
                    var err = 'Error.';
                    if (exc) {
                        if (exc.message) err += ('\n' + exc.message);
                        if (exc.response && exc.response.statusText) err += ('\n' + exc.response.statusText);
                    }
                    alert(err);
                })
        },
        SaveFileStream(streamArray, filename) {
            var blob = new Blob([streamArray], { type: 'octet/stream' } );
            if (window.navigator.msSaveOrOpenBlob) {
                window.navigator.msSaveOrOpenBlob(blob, filename);
            } else {
                var url = window.URL.createObjectURL(blob);
                var a = document.createElement("a");
                a.href = url;
                a.download = filename;
                a.click();
                window.URL.revokeObjectURL(url);
            }
        },
        curUrl(name) {
            if (this.isShow) {
                this.isView = true;
                if (this.curFile.fullName == name)
                    return encodeURI(this.$store.state.apiUrl + '/Files/GetLinkImage?name=' + name);
                else return '';
            }
            else return '';
        },
        vidUrl(name) {
            if (this.curFile.fullName != name)
                return '';
            if (this.isShow && this.isVideo) {
                this.isView = true;
                if (this.curFile.fullName == name)
                    return encodeURI(this.$store.state.apiUrl + '/Files/GetVideo?name=' + name);
                else return '';
            }
            else return '';
        },
        onSlideStart(id) {
            if (this.isShow)
                this.$emit('selFil', this.files[id]);
        },
    },
    computed: {
        curFile() {
            return this.$store.state.selFile;
        },
        curList() {
            return this.$store.getters.getFilteredList;
        },
        // backImg() {
        //     var st =
        //         'background-image: url("' + this.curFile.icon + '"); ' +
        //         'background-repeat: no-repeat; background-position: center center; margin: auto; ' +
        //         'height: -webkit-fill-available; background-size: contain; ';
        //     return st;
        // },
        isShow() {
            if (this.curFile.fullName && this.curFile.fullName.length > 0)
                return true;
            return false;
        },
        videoExt() {
            return this.$store.state.formats.video;
        },
        isVideo() {
            if (this.curFile && this.curFile.type) {
                var ext = this.curFile.type.toLowerCase();
                var id = this.videoExt.indexOf(ext);
                return id > -1;
            }
            return false;
        },
        files() {
            if (!this.isShow) {
                return [];
            }
            
            let filesOnly = this.curList.filter(el => el.isFolder === false && el.fullName.length > 0);
            for (const el of filesOnly)
                if (this.curFile.fullName == el.fullName) {
                    this.currentId = filesOnly.indexOf(el);
                    break;
                }

            return filesOnly;
        },
    },
}
</script>

<style>
.my-modal-fullscreen header {
    padding: 5px;
}
.my-modal-fullscreen .modal-dialog {
    position: absolute;
    display: -webkit-box;
    top:    5px;
    bottom: 5px;
    left:   5px;
    right:  5px;
    max-width: none;
    max-height: none;
    margin: 0;
}
.my-modal-fullscreen .modal-body {
    display: flex;
    padding: 5px;
    align-items: stretch;
}
.my-modal-fullscreen .modal-body-media {
    width: 100%;
    contain: strict;
}
.my-modal-fullscreen .modal-body-media > * {
    height: 100%;
}
.my-modal-fullscreen .modal-body .control-prev,
.my-modal-fullscreen .modal-body .control-next {
    position: absolute;
    width: 20%;
    height: -webkit-fill-available;
    padding: .5em;
    display: flex;
}
.my-modal-fullscreen .modal-body .control-next {
    right: 0;
}
.my-modal-fullscreen .modal-body .control-btn {
    width: 100%;
    height: 7em;
    align-self: center;
    cursor: pointer;
    background-color: #eee;
    opacity: .1;
}
.my-modal-fullscreen .modal-body .control-btn:hover {
    opacity: .4;
}
.my-modal-fullscreen .modal-body .control-prev .control-btn {
    background-image: url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='%23555' viewBox='0 0 8 8'><path d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/></svg>");
    background-size: 2em;
    background-repeat: no-repeat;
    background-position: center;
}
.my-modal-fullscreen .modal-body .control-next .control-btn {
    background-image: url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='%23555' viewBox='0 0 8 8'><path d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/></svg>");
    background-size: 2em;
    background-repeat: no-repeat;
    background-position: center;
}
</style>