<template>
    <b-modal id="slideshow" ok-only :title="header" class="my-slide-fullscreen" v-model="isView" @hide="isShow = false">
        <b-carousel controls indicators v-model="currentId" background="#ccc" :interval="5000">
            <b-carousel-slide v-for="item in files" :key="item.fullName" :img-src="files.length > 0 ? curUrl(item.fullName) : ''">
                <h1 v-if="files.length < 1">В данном расположении отсутствуют файлы</h1>
            </b-carousel-slide>
        </b-carousel>
    </b-modal>
</template>

<script>
export default {
    name: 'slideshow',
    props: {
        isShow: {
            type: Boolean,
            default: false
        },
        items: {
            type: Array,
            default: []
        }
    },
    data() {
        return {
            isView: false,
            currentId: 0,
            filesOnly: [],
        }
    },
    methods: {
        curUrl(name) {
            if (!this.isShow || name.length < 1)
                return '';
            else if (this.filesOnly[this.currentId].fullImg)
                return this.filesOnly[this.currentId].fullImg;
            else if (this.filesOnly[this.currentId].fullName == name) {
                this.filesOnly[this.currentId].fullImg = encodeURI(this.$store.state.apiUrl + '/Files/GetLinkImage?name=' + name);
                return this.filesOnly[this.currentId].fullImg;
            }

            return '';
        },
    },
    computed: {
        showMe() {
            if (this.isShow)
                isView = true;
            return this.isShow;
        },
        header() {
            var files = this.files;
            var currentId = this.currentId;
            return files && files[currentId] && files[currentId].name ? files[currentId].name : '';
        },
        files() {
            var filesOnly = [];
            if (this.items)
                this.items.forEach(el => {
                    if (el.isFolder === false && el.fullName.length > 0)
                        filesOnly.push(el);
                });
                this.filesOnly = filesOnly;
            return filesOnly;
        },
        styleImg() {
            return 'url("' + this.items[this.currentId].icon + '")';
        },
    }
}
</script>


<style>
.my-slide-fullscreen .modal-dialog {
    position: absolute;
    display: -webkit-box;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    max-width: none;
    max-height: none;
}
.my-slide-fullscreen .modal-body {
    max-height: -webkit-fill-available;
    display: flex;
}
.my-slide-fullscreen .modal-body>div,
.my-slide-fullscreen .modal-body>div>div,
.my-slide-fullscreen .modal-body>div>div>div {
    max-height: -webkit-fill-available;
    width: auto;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.my-slide-fullscreen img {
    max-width: -webkit-fill-available;
    max-height: -webkit-fill-available;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;

    object-fit: contain;
}

</style>