<template>
    <div id="file" @click="click">
        <div id="big" v-if="rect >= 100" class="frame" :style=styleBig>
            <label class="frame name-1" :style="fontSize + fontColor">{{fileName}}</label>
        </div>
        <div id="small" v-else class="frame" :style=styleSmall>
            <img :src="item.icon" style="max-height: min-content; margin-top: auto; margin-bottom: auto;">
            <label
                class="frame"
                :class="labelClass"
                :style="'width: -webkit-fill-available; ' + fontColor">{{fileName}}</label>
        </div>
    </div>
</template>

<script>
export default {
    name: 'file',
    props: [
        'item',
        'rect'
    ],
    data() {
        return {
        }
    },
    created() {},
    mounted() {},
    computed: {
        fileName() {
            return this.item.name + (this.item.isFolder? '' : '.' + this.item.extension);
        },
        videoExt() {
            return this.$store.state.formats.video;
        },
        isVideo() {
            if (this.item && this.item.extension) {
                var ext = this.item.extension.toLowerCase();
                var id = this.videoExt.indexOf(ext);
                return id > -1;
            }
            return false;
        },
        styleSmall() {
            if (!this.rect)
                this.rect = 100;
            var st =
                'min-width: ' + this.rect*4 +
                'px; height: ' + this.rect + 'px; display: flex;';
            return st;
        },
        styleBig() {
            if (!this.rect)
                this.rect = 100;
            var st =
                'min-width: ' + this.rect +
                'px; height: ' + this.rect +
                'px; background-image: url("' + this.item.icon + '");' +
                'background-repeat: no-repeat; background-position: center center; margin: auto;';
            return st;
        },
        labelClass() {
            return this.rect < 50 ? 'name-3' : 'name-2';
        },
        fontSize() {
            return this.rect < 100 ? "" : "font-size: " + (this.item.isFolder ? 1.3 : 1) * (10 * this.rect / 100) + "px; ";
        },
        fontColor() {
            return this.isVideo ? 'color: darkblue; ' : '';
        },
    },
    methods: {
        click(val) {
            var event = this.item.isFolder ? 'selDir' : 'selFil';
            var obj = this.item.isFolder ? this.item.fullName : this.item;
            this.$emit(event, obj);
        }
    }
}
</script>

<style scoped>
    #small * {
        display: inline-block;
    }
    #file * {
        cursor: pointer;
        color: #fff
    }
    label {
        /* margin: 5px; */
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        /*line-height: 16px;     /* fallback */
        /*max-height: 32px;      /* fallback */
        -webkit-line-clamp: 4; /* number of lines to show */
        -webkit-box-orient: vertical;
    }
    .name-1 {
        background-color: #3335;
        /* color: #ddd; */
        word-break: normal;
        position: absolute;
        bottom: 0px;
        left: 0px;
        right: 0px;
    }
    .name-2 {
        font-size: 0.8em;
        background-color: #3333;
        margin: 1px;
        word-break: break-all;
    }
    .name-3 {
        background-color: #3333;
        font-size: 0.7em;
        margin: 1px;
        word-break: break-all;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 3px;
        padding-right: 3px;
    }
</style>
