<template>
    <div id="pgViewer" class="frame">
        <!-- <select name="viewType" id="viewType" v-model="type">
            <option v-for="item in types" :key="item.value" :value="item">{{item.Text}}</option>
        </select> -->
        <iframe :src="urlView" width='100%' height='500px'></iframe>
    </div>
</template>

<script>
export default {
    name: 'pgViewer',
    data() {
        return {
            props: [
                'urlDoc'
            ],
            types: [
                { value: "ms", Text: "Microsoft Office"},
                { value: "gg", Text: "Google Docs"}
            ],
            type: {},
        }
    },
    created() {
        this.type = this.types[1];
        if (!this.urlDoc || this.urlDoc.length < 1)
            this.urlDoc = "http://www.pdf995.com/samples/pdf.pdf"; //"http://ieee802.org/secmail/docIZSEwEqHFr.doc"
    },
    computed: {
            urlView() {
                switch(this.type.value)
                {
                    case "gg": return "https://docs.google.com/gview?url=" + this.urlDoc + "&embedded=true";
                    case "ms": return "https://view.officeapps.live.com/op/embed.aspx?src=" + this.urlDoc;
                }
            },
    }
}
</script>

<style>
    #pgViewer {
        height: 500px;
    }
</style>
