<template>
    <div id="list">
        <b-row align-h="center">
            <my-page :page="page" :count="pages" @paging='Paging'></my-page>
        </b-row>
        <b-row v-show="pageList.length < 1" class="frame">
            <b-col>
                <b-progress :max="100" show-progress animated height="50px" variant="secondary">
                    <b-progress-bar :value="100"><h3>Идёт загрузка данных</h3></b-progress-bar>
                </b-progress>
            </b-col>
        </b-row>
        <b-row v-show="pageList.length > 0" id="pageList">
            <b-col cols="6" md="4" xl="2" class="column" v-for="item in pageList" :key="item.fullname">
                <my-file :item="item" :rect="rect" @selFil='selFil' @selDir='selDir'></my-file>
                <!-- <textarea style="backgroundcolor: #00f;">123</textarea> -->
            </b-col>
        </b-row>
        <b-row align-h="center">
            <my-page :page="page" :count="pages" @paging='Paging'></my-page>
        </b-row>
    </div>
</template>

<script>
import file from '../file'
import page from '../pager'

export default {
    name: 'list',
    components: {
        'my-file': file,
        'my-page': page
    },
    props: [
        'items',
        'rect',
        'size'
    ],
    data() {
        return {
            page: 1,
            pages: 1
        }
    },
    created() {
        //this.selDir("");
    },
    methods: {
        Paging(val) {
            this.page = val;
        },
        selDir(val) {
            this.$emit('selDir', val);
        },
        selFil(val) {
            this.$emit('selFil', val);
        }
    },
    computed: {
        pageList() {
            if (!this.items || this.items.length < 1)
                return [];
            this.pages = Math.trunc(this.items.length / this.size);
            this.pages += this.items.length % this.size > 0 ? 1 : 0;
            while ((this.page - 1) * this.size > this.items.length)
                this.page --;
            var id1 = this.elShowFirst;
            var id2 = this.elShowLast;
            this.$emit('paging', id1, id2);
            return this.items.slice(id1, id2);
        },
        elShowFirst() {
            var id1 = (this.page - 1) * this.size;
            return id1;
        },
        elShowLast() {
            var id2 = this.page * this.size;
            if (id2 > this.items.length)
                id2 = this.items.length;
            return id2;
        },
    },
}
</script>

<style scoped>
    #pageList {
        margin-left: 0px;
        margin-right: 0px;
    }
    #pageList > div {
        padding: 1px;
    }
</style>
