<template>
    <div id="pgBody">
        <div v-if="!isAuth">Вы не авторизованы или страница еще незагружена полностью.</div>
        <div v-if="isAuth">
            <b-row align-h="center">
                <b-col class="frame" cols="5" lg="2">
                    <b-row align-v="center">
                        <b-col cols="auto" for="iconSize" title="Размер иконок" class="material-icons">fullscreen</b-col>
                        <b-col><b-select id="iconSize" title="Размер иконок" v-model="size.sel" :options="size.arr" size="mini"></b-select></b-col>
                    </b-row>
                </b-col>
                <b-col class="frame" cols="5" lg="2">
                    <b-row align-v="center">
                        <b-col cols="auto" for="iconCount" title="Кол-во иконок на странице" class="material-icons">view_module</b-col>
                        <b-col><b-select id="iconCount" title="Кол-во иконок на странице" v-model="count.sel" :options="count.arr" size="mini"></b-select></b-col>
                    </b-row>
                </b-col>
                <b-col class="frame" cols="5" lg="2">
                    <b-row align-v="center">
                        <b-col cols="auto" for="iconSort" title="Сортировка" class="material-icons">sort_by_alpha</b-col>
                        <b-col><b-select id="iconSort" title="Сортировка" @change="UpdFilteredIcons"
                            v-model="sorting.sel" :options="sorting.arr" size="mini"></b-select></b-col>
                    </b-row>
                </b-col>
                <b-col class="frame" cols="5" lg="2">
                    <b-row align-v="center">
                        <b-col cols="auto" for="fileFormats" title="Формат" class="material-icons">description</b-col>
                        <b-col><b-select id="fileFormats" title="Формат" @change="UpdFilteredIcons"
                            v-model="formats.sel" :options="formats.arr" size="mini"></b-select></b-col>
                    </b-row>
                </b-col>
            </b-row>
            <my-list :items='files' :rect="size.sel" :size="count.sel" @selFil='selFil' @selDir='selDir' @paging='Paging'></my-list>
        </div>
        <my-viewer @selFil='selFil'></my-viewer>
    </div>
</template>


<script>
var zip = require('../../scripts/script.js');

import Vue from 'vue'
import Vuex from 'vuex'
import list from '../list'
//import login from '../login'
import viewer from '../viewer-2'
import slide from '../slideshow'

export default {
    name: 'pgBody',
    props: {
        objType: {
            default: 'folder'
        },
        objId: {
            default: ''
        }
    },
    components: {
        'my-list': list,
        //'my-login': login,
        'my-viewer': viewer,
        'my-slide': slide,
    },
    data() {
        return {
            isIni: false,
            slideshow: false,
        }
    },
    mounted() {
        //this.Ini();
    },
    methods: {
        UpdFilteredIcons() {
            this.$store.dispatch('loadIconsPart');
        },
        GetIcons (first, end) {
            var size = this.size.sel;
            var data = {first, end, size};
            this.$store.dispatch('loadIcons', data);
        },
        Paging(first, end) {
            first = first < 0 ? this.currPage.elFirst : first;
            end = end < 0 ? this.currPage.elLast : end;
            this.currPage.elFirst = first;
            this.currPage.elLast  = end;
            
            this.GetIcons(first, end);
        },
        selDir(val) {
            if (val && val.length > 0)
                this.$store.state.router.push('/fotos/folder/' + val);
            else this.$store.state.router.push('/fotos/ ');
        },
        login(email, password) {
            var user = {email, password};
            this.$store.dispatch('login', user);
        },
        registr(email, password) {
            var user = {email, password};
            this.$store.dispatch('registr', user);
        },
        selFil(file) {
            //console.log('sel file: ' + file.name);
            //this.$store.dispatch('loadImg', file.fullName);
            this.$store.commit('setParam2', {type: 'selFile', type2: 'name', value: file.name});
            this.$store.commit('setParam2', {type: 'selFile', type2: 'size', value: file.size});
            this.$store.commit('setParam2', {type: 'selFile', type2: 'fullName', value: file.fullName});
            this.$store.commit('setParam2', {type: 'selFile', type2: 'type', value: file.extension});
        },
    },
    computed: {
        ...Vuex.mapState({
            formats: state => state.formats,
            sorting: state => state.sorting,
            count: state => state.count,
            size: state => state.size,
        }),
        files() {
            return this.$store.getters.getFilteredList;
        },
        isAuth() {
            if (!this.isIni && this.$store.state.user.isAuth) {
                this.isIni = true;
                if (this.objType == 'folder')
                    this.selDir(this.$store.state.selDir.fullName);
            }
            return this.$store.state.user.isAuth;
        },
        currPage() {
            return {
                elFirst: this.$store.state.elFirst,
                elLast: this.$store.state.elLast,
            };
        },
        cbCompress() { return this.$store.state.cbCompress; },
    },
}
</script>

<style scoped>
#pgBody > div > li {
    vertical-align: bottom;
}
</style>
