<template>
    <b-alert id="about" show variant="success" :style="titleStyle">
        <h1 class="alert-heading">~ = домашний сайт = ~</h1>
        <hr>
        <p v-if="!isAuth">
            для продолжения работы необходимо <router-link to="/login">авторизоваться или зарегистрироваться</router-link>
        </p>
        <p v-if="isAuth">
            авторизация пройдена
        </p>
    </b-alert>
</template>

<script>
import Vuex from "vuex";

export default {
    name: 'about',
    data() {
        return {
        }
    },
    components: {
    },
    mounted() {
    },
    methods: {
    },
    computed: {
        isAuth() { return this.$store.state.user.isAuth; },
        titleStyle() { return location.host.indexOf('localhost') >= 0 ? 'color: #1505' : ''; },
    },
}
</script>

<style scoped>
</style>