<template>
    <div id="roles">
        <b-alert show variant="secondary"><h4>Редактирование ролей пользователей</h4></b-alert>
        <div v-if="!isAuth">Вы не авторизованы или страница еще незагружена полностью.</div>
        <b-table v-if="isAuth" :items="tableData" :fields="['#', 'User', 'Roles', 'Edit']" style="width: 100%">
            <template width="10px" #cell(#)="scope">
                {{scope.index + 1}}
            </template>
            <template #cell(User)="scope">
                {{scope.item.userName}} <b-badge v-if='!scope.item.isActive' href="#" variant="warning">new</b-badge>
            </template>
            <template #cell(Roles)="scope">
                <b-form-checkbox-group buttons v-model="scope.item.rolesId" :disabled="!scope.item.edit">
                    <b-form-checkbox v-for="item in roles" :value="item.id" :key="item.id"
                        :button-variant='scope.item.rolesId.indexOf(item.id) < 0 ? "light" : item.name == "Await" ? "warning" : "info"'
                        v-if="scope.item.edit || scope.item.rolesId.indexOf(item.id) > -1">
                        {{item.name}}
                    </b-form-checkbox>
                </b-form-checkbox-group>
            </template>
            <template #cell(Edit)="scope">
                <b-button-group v-if="!scope.item.edit">
                    <b-button class="material-icons" title="edit roles" variant="primary" @click="scope.item.edit = true;">edit</b-button>
                    <b-btn disabled></b-btn>
                    <b-button class="material-icons" title="delete user" variant="danger" @click="DelUser(scope.item)">delete</b-button>
                </b-button-group>
                <b-button v-else class="material-icons" variant="success" @click="SaveRoles(scope.item)">save</b-button>
            </template>
        </b-table>
    </div>
</template>

<script>
import axios from 'axios';

export default {
    name: 'login',
    data: function() {
        return {
            tableData: [],
            roles: [],
            role:{}
        };
    },
    components: {
    },
    mounted() {
        this.Ini();
    },
    methods: {
        Ini() {
            this.GetRoles();
            this.GetUsers();
        },
        GetRoles() {
            var localList = this.roles;

            var icoUrl = this.$store.state.apiUrl + '/Roles/GetRoles';
            axios({
                method: 'GET',
                url: icoUrl,
               // data: data,
                headers: {
                    'authorization': 'Bearer ' + this.$store.state.user.token,
                    'content-type': 'application/json',
                    'cache-control': 'no-cache'
                  },
            })
            .then((response) => {
                //this.roles = [];
                while(localList.length > 0)
                    localList.pop();
                response.data.data.forEach(el => { localList.push(el); });
                // Vue.set(this, 'roles', response.data.data);
            })
            .catch(err => {
                this.$store.commit('setInfo', err);
            });
        },
        GetUsers() {
            var localList = this.tableData;

            var icoUrl = this.$store.state.apiUrl + '/Roles/GetUserRoles';
            axios({
                method: 'GET',
                url: icoUrl,
               // data: data,
                headers: {
                    'authorization': 'Bearer ' + this.$store.state.user.token,
                    'content-type': 'application/json',
                    'cache-control': 'no-cache'
                  },
            })
            .then((response) => {
                //this.tableData = [];
                while(localList.length > 0)
                    localList.pop();
                response.data.data.forEach(el => {
                    el.edit = false;
                    localList.push(el);
                });
            })
            .catch(err => {
                this.$store.commit('setInfo', err);
            });
        },
        SaveRoles(user) {
            user.edit = false;
            var icoUrl = this.$store.state.apiUrl + '/Roles/SetUserRoles';
            axios({
                method: 'POST',
                url: icoUrl,
                data: user,
                headers: {
                    'authorization': 'Bearer ' + this.$store.state.user.token,
                    'content-type': 'application/json',
                    'cache-control': 'no-cache'
                  },
            })
            .then((response) => {
                this.$store.commit('setInfo', response);
            })
            .catch(err => {
                this.$store.commit('setInfo', err);
            });
        },
        DelUser(user) {
            alert(user.userName + '\nудаление пока не реализовано');
        },
    },
    computed: {
        isAuth() {
            // if (this.$store.state.user.isAuth)
            //     this.Ini();
            return this.$store.state.user.isAuth;
        },
    }
}
</script>

<style scoped>
</style>