<template>
    <div id="info" style="text-align: left;">
        <b-alert v-for="item in items" :key="item.id" show :variant="item.error === true ? 'danger' : 'success'">
            <h4 v-if="item.status" class="alert-heading">[ {{item.status}} ] {{item.statusText}}</h4>
            <p v-if="item.message">{{item.message}}</p>
            <hr v-if="item.comment">
            <p v-if="item.comment" class="mb-0">{{item.comment}}</p>
            <b-progress :max="item.timermax" :value="item.timer" height="4px" :variant="item.error === true ? 'danger' : 'success'"></b-progress>
        </b-alert>
    </div>
</template>

<script>
import Vuex from "vuex";

export default {
    name: 'info',
    data() {
        return {
        }
    },
    components: {
    },
    mounted() {
    },
    methods: {
    },
    computed: {
        items() {
            return this.$store.state.infoList;
        },
    },
}
</script>