<template>
    <div id="roles">
        <b-alert show variant="secondary">
            <h4>
                Редактирование списка доступных директорий по ролям
                <b-button class="material-icons" size="sm" title="Add role" variant="primary"
                    @click="newRole.modal = true">add</b-button>
            </h4>
        </b-alert>
        <div v-if="!isAuth">Вы не авторизованы или страница еще незагружена полностью.</div>
        <b-table v-if="isAuth" :items="tableData" :fields="['#', 'Role', 'Folders', 'Edit']" style="width: 100%">
            <template #cell(Role)="scope">
                {{scope.item.roleName}}
            </template>
            <template #cell(Folders)="scope">
                <b-row v-for="item in scope.item.folders" :key="item">
                    <b-col style="text-align: -webkit-left;">{{item}}</b-col>
                    <b-col cols='auto'><b-badge variant="danger" class="material-icons btn" pill v-if="scope.item.edit" @click="DelDir(scope.item, item)">highlight_off</b-badge></b-col>
                </b-row>
            </template>
            <template #cell(Edit)="scope">
                <b-btn-group v-if="!scope.item.edit">
                    <b-btn class="material-icons" title="edit folders" variant="primary" @click="scope.item.edit = true;">edit</b-btn>
                    <b-btn disabled></b-btn>
                    <b-btn class="material-icons" title="delete role" variant="danger" @click="DelRole(scope.item)">delete</b-btn>
                </b-btn-group>
                <b-btn-group v-if="scope.item.edit">
                    <b-btn class="material-icons" variant="info" @click="SelItem(scope.item)">create_new_folder</b-btn>
                    <b-btn disabled></b-btn>
                    <b-btn class="material-icons" variant="warning" @click="ClearItems(scope.item)" title="clear folders">remove_circle_outline </b-btn>
                    <b-btn disabled></b-btn>
                    <b-btn class="material-icons" variant="success" @click="SaveDirs(scope.item)">save</b-btn>
                </b-btn-group>
            </template>
        </b-table>

        <div>
            <b-modal v-model="folders.modal" title="Select dir for added" @ok="ModalHide(true)" @hide="ModalHide(false)">
                <b-card no-body :header="'<b>' + modalName + '</b>'">
                    <b-list-group>
                        <b-list-group-item href="#" v-for="item in folders.list" :key="item.fullName" :variant="item.sel ? 'primary' : ''">
                            <b-row align-v="center">
                                <b-col @click="item.sel = !item.sel" ><span>{{item.name}}</span></b-col>
                                <b-col cols="auto">
                                    <b-button @click="GetDirs(item)">>></b-button>
                                </b-col>
                            </b-row>
                        </b-list-group-item>
                    </b-list-group>
                    <div slot="footer">
                        <b-btn variant="outline-success" @click="Select(true)">Выделить всё</b-btn>
                        <b-btn variant="outline-success" @click="Select(false)">Снять выделение</b-btn>
                    </div>
                </b-card>
            </b-modal>
            <b-modal v-model="newRole.modal" title="Input roles name for added" @ok="AddRole()">
                <b-form-input v-model="newRole.name" type="text" placeholder="Enter role name"></b-form-input>
            </b-modal>
        </div>
    </div>
</template>

<script>
import axios from 'axios';

export default {
    name: 'login',
    data() {
        return {
            tableData: [],
            role: {
            },
            folders: {
                modal: false,
                list: [],
                cur: '',
            },
            newRole: {
                modal: false,
                name: '',
            },
        }
    },
    components: {
    },
    mounted() {
        //this.Ini();
    },
    methods: {
        Ini() {
            this.GetRoles();
        },
        GetRoles() {
            var icoUrl = this.$store.state.apiUrl + '/Roles/GetRoleDirs';
            axios({
                method: 'GET',
                url: icoUrl,
               // data: data,
                headers: {
                    'authorization': 'Bearer ' + this.$store.state.user.token,
                    'content-type': 'application/json',
                    'cache-control': 'no-cache'
                  },
            })
            .then((response) => {
                this.tableData = [];
                response.data.data.forEach(el => {
                    el.edit = false;
                    this.tableData.push(el);
                });
            })
            .catch(err => {
                this.$store.commit('setInfo', err);
            });
        },
        GetDirs(dir) {
            this.folders.modal = true;
            this.folders.cur = dir;
            var icoUrl = this.$store.state.apiUrl + '/Files/GetDirs';
            axios({
                method: 'POST',
                url: icoUrl,
                data: {name: this.folders.cur.fullName},
                headers: {
                    'authorization': 'Bearer ' + this.$store.state.user.token,
                    'content-type': 'application/json',
                    'cache-control': 'no-cache'
                  },
            })
            .then((response) => {
                this.folders.list = [];
                response.data.data.forEach(el => {
                    el.sel = false;
                    this.folders.list.push(el);
                });
            })
            .catch(err => {
                this.$store.commit('setInfo', err);
            });
        },
        SelItem(item) {
            this.role = item;
            this.GetDirs('');
        },
        SaveDirs(role) {
            role.edit = false;
            var icoUrl = this.$store.state.apiUrl + '/Roles/SetRoleDirs';
            axios({
                method: 'POST',
                url: icoUrl,
                data: role,
                headers: {
                    'authorization': 'Bearer ' + this.$store.state.user.token,
                    'content-type': 'application/json',
                    'cache-control': 'no-cache'
                  },
            })
            .then((response) => {
                this.$store.commit('setInfo', response);
            })
            .catch(err => {
                this.$store.commit('setInfo', err);
            });
        },
        ModalHide(result) {
            if (this.folders.list && result === true) {
                this.folders.list.forEach(el => {
                    if (el.sel === true)
                        this.role.folders.push(el.fullName);
                });
            }
            
            this.folders.list.splice(0);
            this.folders.cur = '';
        },
        DelDir(role, dir) {
            var id = role.folders.indexOf(dir);
            role.folders.splice(id, 1);
        },
        DelRole(role) {
            alert(role.name + '\nудаление пока не реализовано');
        },
        ClearItems(role) {
            role.folders.splice(0, role.folders.length);
        },
        Select(mark) {
            this.folders.list.forEach(el => {
                if(el.name[0] != '[' && el.name[el.name.length-1] != ']')
                    el.sel = mark;
            });
        },
        AddRole() {
            debugger;
            this.newRole.modal = false;
            var icoUrl = this.$store.state.apiUrl + '/Roles/AddRole';
            var role = { name: this.newRole.name };
            axios({
                method: 'POST',
                url: icoUrl,
                data: role,
                headers: {
                    'authorization': 'Bearer ' + this.$store.state.user.token,
                    'content-type': 'application/json',
                    'cache-control': 'no-cache'
                  },
            })
            .then((response) => {
                this.$store.commit('setInfo', response);
                this.Ini();
            })
            .catch(err => {
                this.$store.commit('setInfo', err);
            });
        },
    },
    computed: {
        isAuth() {
            if (this.$store.state.user.isAuth)
                this.Ini();
            return this.$store.state.user.isAuth;
        },
        modalName() {
            var res = 'root';
            if (this.folders.cur && this.folders.cur.fullName)
                res = this.folders.cur.fullName;

            return res;
        },
    }
}
</script>

<style scoped>
</style>