﻿<template>
    <!-- fixed="top" -->
    <b-navbar id="pgHead" toggleable="lg" style="background-color: #bbb;" fixed>
        <b-navbar-brand to="/"><img src="dist/favicon.ico" width="30px"></b-navbar-brand>
        <b-navbar-brand to="/" :style="titleStyle">{{ msg }}</b-navbar-brand>
        <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
        <b-collapse is-nav id="nav_collapse">
            <b-navbar-nav class="ml-auto">
                <b-nav-item>
                    <b-row align-v="center">
                        <b-col v-show="audio.check">
                            <b-select v-model="audio.radio" :options="radios" @change="RadioSel" size='sm'></b-select>
                        </b-col>
                        <b-col :cols="audio.check ? 'auto' : ''" title="promodj.com" @click="RadioOn">
                            <span class="material-icons" style="color: #09f; cursor: pointer;" v-if="audio.check">radio</span>
                            <span class="material-icons" style="color: #ddd; cursor: pointer;" v-if="!audio.check">radio</span>
                            <!-- <iframe v-if="audio.check" hidden :src="channel" frameborder="0"></iframe> -->
                            <my-media v-if="audio.check" controls='false' autoplay='true' hidden kind='audio' :src='channel'></my-media>
                        </b-col>
                    </b-row>
                </b-nav-item>
                <b-nav-item class="material-icons" v-if="isAuth" :to="'/fotos/folder/' + this.$store.state.selDir.fullName">panorama</b-nav-item>
                <b-nav-item class="material-icons" v-if="isAdmin" to="/roles">people</b-nav-item>
                <!-- <b-nav-item v-if="isAdmin" to="/camera">Камера</b-nav-item>
                <b-nav-item v-if="isAdmin" to="/yaMusic">Радио</b-nav-item> --> <!-- https://radio.yandex.ru/user/grekhovandrey -->
                <b-nav-item class="material-icons" v-if="isAdmin" to="/folders">folder_shared</b-nav-item>
                <b-nav-item v-if="!isAuth" to="/login">
                    <span style="vertical-align: middle;">Вход</span>
                    <span style="vertical-align: middle;" class="material-icons">account_box</span>
                </b-nav-item>
                <b-nav-item v-if="isAuth" href="" @click="Logout">
                    <span style="vertical-align: middle;">Выход</span>
                    <span style="vertical-align: middle;" class="material-icons">exit_to_app</span>
                </b-nav-item>
                <b-nav-text disabled><span style="vertical-align: -webkit-baseline-middle;">{{curAcc}}</span></b-nav-text>
                <b-nav-item title="Запись к врачу" href="http://portms.ru">
                    <span class="material-icons" style="color: #ddd; cursor: pointer;">add_alarm</span>
                </b-nav-item>
            </b-navbar-nav>
        </b-collapse>
    </b-navbar>
</template>

<script>
import Vue from 'vue';
import axios from 'axios';
import media from '@dongido/vue-viaudio';

export default {
    name: 'pgHead',
    props: [],
    components: {
        'my-media': media,
    },
    data() {
        return {
            msg: 'Домашний сайт',
            audio: {
                check: false,
                radio: 'top100',
            },
            radios: [
                'top100',
                'channel5', // 'channel5-192'
                'trap',
                'klubb',
                'dubstep',
                'nu',
                'toonu',
                'yo',
                'fullmoon',
                'vata',
                '300kmh',
                '186mph',
                'deep',
                'toodeep',
                'mini',
                'pop',
                'oldschool',
                'strange',
                'brainfck',
                'bobina',
                'groove',
                'maxidancefm',
                'garagefm',
            ],
        }
    },
    mounted() {
        if (this.$route.query.confirm) {
            var requestUrl = this.$store.state.apiUrl + '/Account/ConfirmEmail';
            var conf = { param: this.$route.query.confirm }
            axios({
                method: 'POST',
                url: requestUrl,
                headers: {
                    'content-type': 'application/json',
                    'cache-control': 'no-cache'
                },
                data: conf,
            })
            .then(response => {
                this.$store.commit('setInfo', response);
                this.$store.commit('setAuth', '');
            })
            .catch(err => {
                this.$store.commit('setInfo', err);
                this.$store.commit('setAuth', '');
            });
        } else {
            this.$store.dispatch('isAuth');
            var aud = window.localStorage.getItem('audio');
            if (aud)
                this.audio = JSON.parse(aud);
        }
    },
    methods: {
        Logout() {
            this.$store.commit('setAuth', '');
        },
        RadioSel() {
            window.localStorage.setItem('audio', JSON.stringify(this.audio));
        },
        RadioOn() {
            this.audio.check = !this.audio.check;
            window.localStorage.setItem('audio', JSON.stringify(this.audio));
        },
    },
    computed: {
        isAuth() { return this.$store.state.user.isAuth; },
        isAdmin() { return this.$store.state.user.isAdmin; },
        curAcc() {
            var str = this.$store.state.user.login;
            if (!str || str.length < 0)
                return '';
                
            var id = str.indexOf('@');
            return '(' + str.substring(0, id) + ')';
        },
        titleStyle() { return location.host.indexOf('localhost') >= 0 ? 'color: #09f5' : 'color: #09f'; },
        channel() { return "https://radio.promodj.com/" + this.audio.radio; }, // + '-192'
    },
}
</script>

<style scoped>
.material-icons {
    font-size: xx-large;
}
</style>
