
.frame {
    margin: 5px;
    /* border: 2px double #ddd5 ; */
    border-radius: 5px;
    position: relative;
}

/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('../content/fontGoogleIcons.woff2') format('woff2');
  }

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
  }

span.el-input__prefix > i.material-icons {
    margin-top: 8px;
}

button > span > span {
    vertical-align: super;
}