<template>
    <div id="pgFooter" class="my-footer">
        <ul class="frame" style="font-weight: bold;">
            <li v-for="ms in msg" :key="ms.name">
                <a :href='ms.link'>{{ms.name}}</a>
            </li>
        </ul>
    </div>
</template>

<script>
export default {
    name: 'pgFooter',
    props: [],
    data() {
        return {
            msg: [
                { name: 'VK', link: 'https://vk.com/dzerzhinsk' },
                { name: 'FB', link: 'https://fb.com/a.a.grekhov' },
            ]
        }
    }
}
</script>

<style>
    .my-footer {
        background-color: #eee;
        /* position: absolute; */
        /* top: 0px; */
    }
</style>
