<template>
    <b-form id="login" class="frame">
        <b-alert show variant="secondary"><h4>Вход на сайт</h4></b-alert>
        <b-alert v-if="isWait" show variant="secondary"><h4>Подождите, Ваша сессия обновляется...</h4></b-alert>
        <b-tabs v-if="!isWait" type="border-card">
            <b-tab :title="strings.login">
                <br>
                <b-row align-v="center">
                    <b-col cols="auto" :style="validate('email')" class="material-icons">mail_outline</b-col>
                    <b-col><b-form-input v-model="email" type="email" :placeholder="strings.email"></b-form-input></b-col>
                </b-row>
                <br>
                <b-row align-v="center">
                    <b-col cols="auto" :style="validate('password')" class="material-icons">security</b-col>
                    <b-col><b-form-input v-model="password" type="password" :placeholder="strings.password"></b-form-input></b-col>
                </b-row>
                <br>
                <b-button class="success" round @click="login" :disabled="!email || !password">
                    <b-row align-v="center">
                        <b-col cols="auto" class="material-icons">check_circle_outline</b-col>
                        <b-col>{{strings.login}}</b-col>
                    </b-row>
                </b-button>
                <br>
            </b-tab>
            <b-tab id="div-password" :title="strings.registr">
                <br>
                <b-row align-v="center">
                    <b-col cols="auto" :style="validate('email')" class="material-icons">mail_outline</b-col>
                    <b-col><b-form-input v-model="email" type="email" :placeholder="strings.email"></b-form-input></b-col>
                </b-row>
                <br>
                <b-row align-v="center">
                    <b-col cols="auto" :style="validate('password')" class="material-icons">security</b-col>
                    <b-col><b-form-input v-model="password" type="password" :placeholder="strings.password"></b-form-input></b-col>
                </b-row>
                <br>
                <b-row align-v="center">
                    <b-col cols="auto" :style="validate('confirm')" class="material-icons">security</b-col>
                    <b-col><b-form-input v-model="confirm" type="password" :placeholder="strings.confirm"></b-form-input></b-col>
                </b-row>
                <br>
                <b-button class="success" round @click="registr" :disabled="!email || !password || password != confirm">
                    <b-row align-v="center">
                        <b-col cols="auto" class="material-icons">add_circle_outline</b-col>
                        <b-col>{{strings.registr}}</b-col>
                    </b-row>
                </b-button>
                <br>
            </b-tab>
        </b-tabs>
    </b-form>
</template>

<script>
import Vuex from "vuex";

export default {
    name: 'login',
    data() {
        return {
            email : '',
            password : '',
            confirm : '',
        }
    },
    components: {
    },
    mounted() {
    },
    methods: {
        login(email, password) {
            var user = { email: this.email, password: this.password};
            this.$store.dispatch('login', user);
        },
        registr(email, password) {
            var user = { email: this.email, password: this.password};
            this.$store.dispatch('registr', user);
        },
        validate(param) {
            var ok = { color: '#080' };
            var er = { color: '#f00' };
            switch(param) {
                case 'email': return this.email ? ok : er;
                case 'password': return this.password ? ok : er;
                case 'confirm': return this.password == this.confirm ? ok : er;
            }
        },
    },
    computed: {
        strings() { return this.$store.state.strings.login; },
        isWait() {
            return this.$store.state.user.isWait;
        },
    },
}
</script>

<style scoped>
#login {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}
</style>