<template>
    <b-container id="app">
      <my-head class="frame"></my-head>
      <my-info class="frame"></my-info>
      <router-view class="frame"></router-view>
      <my-foot class="frame"></my-foot>
    </b-container>
</template>

<script>
import Vue from 'vue';
import VueRouter from 'vue-router';
import store from './components/store/index.js';

import head from './components/header'
import foot from './components/footer'
import info from './components/informations'

export default {
  name: 'app',
  router: store.state.router,
  store,
  components: {
    'my-head': head,
    'my-foot': foot,
    'my-info': info,
  },
  data () {
    return {
    }
  },
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 20px;
  margin-bottom: 20px;
  min-width: 350pt;
  max-width: 100%;
}

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
