<template>
    <iframe id="camera" src="http://192.168.1.105:8080/browserfs.html" frameborder="0"></iframe>
    <!-- <img id="camera" src="http://192.168.1.105:8080/mjpeg" frameborder="0"/> -->
</template>

<script>
export default {
    name: 'camera',
    props: [],
    data() {
        return {
        }
    },
}
</script>

<style>
</style>
