<template>
    <nav id="pager" class="pagination columns is-small">
        <ul class="frame">
            <li class="frame" @click="click(1       )" :disabled='page<=1'>&laquo;</li>
            <li class="frame" @click="click(page - 1)" :disabled='page<=1'>&lsaquo;</li>
            <span class="frame"><span>{{page}} // {{count}}</span></span>
            <li class="frame" @click="click(page + 1)" :disabled='page>=count'>&rsaquo;</li>
            <li class="frame" @click="click(count   )" :disabled='page>=count'>&raquo;</li>
        </ul>
    </nav>
</template>

<script>
export default {
    name: 'pager',
    props: [
        'page',
        'count'
    ],
    data() {
        return {
        }
    },
    methods: {
        click(val) {
            if (val < 1 || val > this.count)
                return;
            this.$emit('paging', val);
        }
    }
}
</script>

<style scoped>
    ul > * {
        min-width: 3em;
        padding-left: 1em;
        padding-right: 1em;
    }
    span.is-current>span {
        font-family: monospace;
    }
    li.frame[disabled], span {
        cursor: default;
    }
    li.frame:not([disabled]) {
        background-color: #eee;
        cursor: pointer;
    }
</style>
